          <div class="container-fluid footer">
            <div class="container-fluid destin">
              <p class="leader" style="padding: inherit;">
                Destinations
              </p>
              <div class="container side">
                <div class="continaer destin-part1">
                  <a class="data" href="#">UK</a>
                  <a class="data" href="#">Australia</a>
                  <a class="data" href="#">New Zealand</a>
                  <a class="data" href="#">USA</a>
                  <a class="data" href="#">Canada</a>
                  <a class="data" href="#">Ireland</a>
                </div>
                <div class="container destin-part2">
                  <a class="data" href="#">Singapore</a>
                  <a class="data" href="#">Italy</a>
                  <a class="data" href="#">Germany</a>
                  <a class="data" href="#">Dubai</a>
                  <a class="data" href="#">Switzerland</a>
                  <a class="data" href="#">France</a>
                </div>
              </div>
            </div>
            <div class="container-fluid services">
              <p class="leader">
                Our Services
              </p>
              <a class="data" href="program-selection.html">Program Selection</a>
              <a class="data" href="#">Test Preparation</a>
              <a class="data" href="#appl-guid.html">Application Guidance</a>
              <a class="data" href="visa-guid.html">Visa Application</a>
              <a class="data" href="find-accom.html">Finding Accomodation</a>
              <a class="data" href="#">Forex & Travel Assistance</a>
              <a class="data" href="pre-depart.html">Pre-Departure Meet</a>
            </div>
            <div class="container-fluid connect">
              <p class="leader">
                Connect With Envision
              </p>
              <a class="data" href="#">About Us</a>
              <a class="data" href="find-us">Find Us</a>
              <a class="data" href="#">Envision Events</a>
              <a class="data" href="#">Contact Us</a>
              <a class="data" href="#">Envision Careers</a>
            </div>
          </div>