    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <img src="/assets/logos/image 5.svg" width="190pt" alt="/" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Search Programs
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/">UK</a>
              <a class="dropdown-item" href="/">Australia</a>
              <a class="dropdown-item" href="/">New Zealand</a>
              <a class="dropdown-item" href="/">USA</a>
              <a class="dropdown-item" href="/">Canada</a>
              <a class="dropdown-item" href="/">Singapore</a>
              <a class="dropdown-item" href="/">Ireland</a>
              <a class="dropdown-item" href="/">Italy</a>
              <a class="dropdown-item" href="/">Germany</a>
              <a class="dropdown-item" href="/">Dubai</a>
              <a class="dropdown-item" href="/">Switzerland</a>
              <a class="dropdown-item" href="/">France</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Upcoming Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Our Services
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="program-selection">Program Selection</a>
              <a class="dropdown-item" href="/">Test Preparation</a>
              <a class="dropdown-item" href="appl-guid">Application Guidance</a>
              <a class="dropdown-item" href="visa-guid">Visa Application</a>
              <a class="dropdown-item" href="find-accom">Finding Accomodation</a>
              <a class="dropdown-item" href="/">Forex & Travel Assistance</a>
              <a class="dropdown-item" href="pre-depart">Pre-Departure Meet</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Contact</a>
          </li>
        </ul>
      </div>
    </nav>