<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <title>Envision Overseas - Application Guidance</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />

  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="expires" content="-1" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Raleway&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/index-styles.css" />
  <link rel="stylesheet" href="/css/pages-general.css" />

  <%- include('./partials/browser-icons'); -%>
</head>

<body>
  <div class="flex-contain">

    <%- include('./partials/nav'); -%>


    <div class="container-fluid">
      <div class="row one">
        <div class="col two">
          <a><img src="./assets/Unis/29.jpg" class="two" /></a>
        </div>
        <div class="col three">
          <h1>Application Guidance</h1>
          <p>
            At Envision our team works strives to make your university application journey as smooth as possible. We
            help you correctly fill out application forms, incorporate your past academic performance, verify your
            documents, and send your completed application to your chosen university.
          </p>
          <p>
            Most institutions revert on the status of your application within six weeks of submitting it, and if they
            offer you
            admission, you will also receive your official offer letter along with your decision. If your offer letter
            is not
            conditional upon you reaching any grade cutoffs, you can acknowledge the offer right away. In some cases,
            you might be
            required to retake and resubmit a new IELTS test score, or to past the university some of your academic
            records.
          </p>
          <p>
            We will assist you at each step, giving you guidance and support, as well as keeping you informed about
            opportunities to
            meet with any university delegates during their visits to India. We at Envision are dedicated to making your
            application
            process a seamless one.

          </p>
        </div>
      </div>
    </div>


    <%- include('./partials/footer'); -%>
  </div>


  <%- include('./partials/bootstrap-js'); -%>
</body>

</html>