<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <title>Find Us - Envision Overseas</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />

  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="expires" content="-1" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Raleway&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/index-styles.css" />
  <link rel="stylesheet" href="/css/find-us.css" />
  <link rel="stylesheet" href="/css/pages-general.css" />

  <script src="../src/js/map-key.js"></script>

  <link rel="shortcut icon" type="image/ico" href="./src/assets/Icons/favIcon.ico" />
  <link rel="shortcut icon" type="image/ico" href="./assets/Icons/icon-multi-size.ico" />
  <link rel="shortcut icon" type="image/ico" href="./assets/Icons/browser-icon.ico" />
</head>

<body>
  <div class="flex-contain">

    <%- include('./partials/nav'); -%>

    <div class="container-fluid one">
      <div class="container-fluid three">
        <h1>Find Us</h1>
        <p>
          We have six offices around India, in Mumbai, Pune, Ahmedabad, Bangalore, New Delhi, and Chandigarh. Our head
          office is in Mumbai.
        </p>
        <p>
          We have expert staff to help you at all these six locations. Other than for guidance and counselling, you
          might also want to visit our offices to meet delegates from the universities you are interested in.
        </p>
        <p>
          Use the map to find your nearest Envision office now.
        </p>
        <div class="container mode" id='mode-box'>
          <form id="map-options">
            <label class='label1'>Mode of Transport</label>
            <div>
              <input type="radio" class='drive' name='mode' autocomplete='off' required value="DRIVING" /> Driving<br>
              <input type="radio" class='bus' name='mode' autocomplete='off' required value="TRANSIT" /> Public
              Transport
            </div>
            <br>
            <label class='label1'>Target Envision Office</label>
            <select class="form-control" id="destination" name="destination">
              <option value="Mumbai">Mumbai</option>
              <option value="Delhi">Delhi</option>
              <option value="Bangalore">Bangalore</option>
              <option value="Pune">Pune</option>
              <option value="Chandigarh">Chandigarh</option>
            </select>
            <br>
            <button type='button' id='mode-submit' class="btn btn-dark">Find Route</button>
            <p id="demo"></p>
          </form>
        </div>
      </div>
      <div class="container-fluid two">
        <div id="map">
        </div>
      </div>
    </div>

    <div class="container-fluid outside">
      <div class="container-fluid four" id="right-panel">
        <label class='label1' id="directions"></label>
      </div>
    </div>
    <br>

    <script src='../src/js/map.js'></script>

    <%- include('./partials/footer'); -%>
  </div>
  <%- include('./partials/bootstrap-js'); -%>
</body>

</html>