<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <title>Program Selection - Envision Overseas</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />

  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="expires" content="-1" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Raleway&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/index-styles.css" />
  <link rel="stylesheet" href="/css/pages-general.css" />
  <%- include('./partials/browser-icons'); -%>
</head>

<body>
  <%- include('./partials/nav'); -%>

  <div class="flex-contain">
    <div class="container-fluid">
      <div class="row one">
        <div class="col two">
          <a><img src="./assets/Unis/29.jpg" class="two" /></a>
        </div>
        <div class="col three">
          <h1>Program Selection</h1>
          <p>
            Regardless of whether you are undecided between potential programs, torn between two programs,
            or have
            absolutely no clue what what you want to pursue, we can help you make the right choice.
          </p>
          <p>
            With so many courses and universities available, finding the right fit can be challenging. But
            try not to
            stress, as we are here to help you through the entire process. Our counsellors at Envision work
            with complex
            information, in coordination with all the most recent data from our education partners around
            the world. We
            also understand that every student’s needs are different, and whether you are looking for
            anything from a
            quiet countryside to an energetic city rich in fancy restaurants and sporting teams, we can help
            you find
            the perfect home away from home.
          </p>
          <p>
            At Envision Overseas, we make decisions with a holistic perspective, because we know it’s the
            little things
            that matter most in the end. Therefore, seek comfort in the fact that we will help you find the
            program and
            place that maximizes your success.
          </p>
        </div>
      </div>
    </div>

    <%- include('./partials/footer'); -%>

  </div>


  <%- include('./partials/bootstrap-js'); -%>
</body>

</html>