<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <title>Visa Guidance - Envision Overseas</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />

  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="expires" content="-1" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Raleway&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/index-styles.css" />
  <link rel="stylesheet" href="/css/pages-general.css" />
  <%- include('./partials/browser-icons'); -%>
</head>

<body>
  <div class="flex-contain">

    <%- include('./partials/nav'); -%>


    <div class="container-fluid">
      <div class="row one">
        <div class="col two">
          <a><img src="./assets/Unis/29.jpg" class="two" /></a>
        </div>
        <div class="col three">
          <h1>Visa Guidance</h1>
          <p>
            As a student traveling to a foreign country to study, you will need to be issued a valid visa that indicates
            the duration for which you are allowed to stay in the country. Since the time taken to process visa
            applications varies from country to country, we recommend that you apply for a student visa as soon as you
            have received an offer of admission from your chosen university, regardless of the start date of your
            program. The earlier you apply, the safer you are from any possible problems that might occur during the
            process.
          </p>
          <p>
            Different countries have different visa requirements, and it is always recommended to consult with your
            education
            counselor or the embassy of the country you are planning to travel to. The most common visa documentation
            includes:
          </p>
          <p> - Proof of Admission</p>
          <p> - Valid Passport</p>
          <p> - Proof of Sufficient Funds To Meet Expenses</p>
          <p> - Proof of Proficiency In English</p>
          <p> - Passport Photographs</p>
          <p>
            At Envision Overseas, we work with our students through this process, advising them on the different stages
            and how
            to progress through each one. By staying updated with all the recent changes to university and visa
            application procedures, we reduce your burden of having to do so. In addition, we help you prepare all your
            documents for submission, as well as translating, certifying, and helping you book appointments for the visa
            interviews.
          </p>
        </div>
      </div>
    </div>

    <%- include('./partials/footer'); -%>
  </div>


  <%- include('./partials/bootstrap-js'); -%>
</body>

</html>