.carousel-control-next {
  justify-content: flex-end;
  right: 3vw;
  align-content: center;
  width: fit-content;
  padding-left: 1.5vw; }

.carousel-control-prev {
  justify-content: flex-start;
  left: 3vw;
  align-content: center;
  width: fit-content;
  padding-right: 1.5vw; }

.slide {
  z-index: 5;
  padding-top: 55px; }

.navbar {
  z-index: 8;
  min-height: 55px; }

.navbar-toggle {
  min-height: 55px; }

.banner-icons {
  width: auto;
  height: 2.5vh;
  margin-right: 0.75vw; }

.icon-text {
  color: black;
  font-family: 'Inconsolata', monospace;
  font-size: 14pt; }

.icon-box {
  justify-content: center;
  align-self: center; }

.sign {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content; }

.schedule {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  margin-right: 2vw; }

.banner {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 10;
  padding-top: 6px;
  padding-right: 24px;
  justify-content: space-between;
  align-content: center; }

.call {
  display: flex;
  flex-direction: row;
  padding-right: 10vw; }

.reach {
  text-align: left;
  justify-content: space-evenly;
  align-content: space-between;
  display: flex;
  flex-direction: row; }

h2 {
  color: #000435;
  font-family: 'Arima Madurai', cursive;
  font-size: 36pt; }

.jumbotron p {
  font-size: 2.5vw;
  font-size: 2.5vh;
  font-family: 'Raleway', serif; }

.jumbotron h1 {
  font-size: 6vw;
  font-size: 6vh;
  font-family: 'Playfair Display', sans-serif; }

.jumbotron {
  padding: 1vw; }

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000435;
  color: white;
  text-align: center;
  display: flex;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row; }

.destin {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 0;
  align-items: left;
  padding: 0; }

.destin-part2 {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 0 0; }

.destin-part1 {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 0 0;
  padding-right: 20px; }

.side {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: visible;
  width: fit-content;
  padding: 0vw; }

.services {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0vw;
  width: max-content; }

.connect {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0vw;
  width: max-content; }

.top {
  width: max-content; }

.leader {
  font-weight: bold;
  font-size: x-large;
  font-family: 'Inconsolata', monospace;
  font-family: 'Raleway', 'serif';
  width: fit-content;
  color: #fbf430;
  color: #fdf74b;
  margin: 0px;
  text-align: left; }

.data {
  font-family: 'Inconsolata', monospace;
  width: fit-content;
  text-align: left;
  color: #ffffff49; }

.orig {
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 60px;
  margin-top: 60px;
  margin-left: 2.5vw;
  margin-right: 2.5vw; }

.encompass {
  margin: 0;
  margin-left: 1.5vw;
  padding: 0; }

.last {
  display: flex;
  justify-content: center;
  align-content: center; }

.form-pic-box {
  height: max-content;
  width: max-content;
  justify-content: center;
  align-self: center;
  margin-right: 1.5vw; }

.form-pic {
  max-width: 50vw;
  height: 300px;
  border-style: solid;
  border-color: #000435;
  align-content: center; }

.form-submit-cont {
  display: flex;
  padding: 0; }

.form-submit-div {
  width: 100%; }

.form-sub-btn {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-family: 'Playfair Display', sans-serif; }

#name1 {
  width: 50%; }

#name2 {
  width: 50%; }

#phone {
  width: 70%; }

#country-code {
  width: 30%; }

#email {
  width: 100%; }

.surround {
  display: flex;
  justify-content: center; }

.eight {
  width: 100%;
  grid-area: 8; }

.seven {
  width: 100%;
  grid-area: 7; }

.six {
  width: 100%;
  grid-area: 6; }

.five {
  grid-area: 5;
  width: 100%; }

.four {
  grid-area: 4; }

.two {
  margin: 0 auto;
  grid-area: 2; }

.one {
  grid-area: 1; }

@media screen and (max-width: 420px) {
  .banner {
    visibility: hidden; } }

@media screen and (max-width: 650px) {
  .orig {
    grid-template-areas: "row-one" "row-two";
    margin-right: 0;
    margin-left: 0; }
  .encompass {
    width: 90%; }
  .icon-text {
    font-size: 9.5pt; }
  .footer {
    justify-content: left; }
  .form-pic {
    margin-bottom: 30px;
    max-width: 90vw; }
  .form-pic-box {
    margin-right: 0; }
  .encompass {
    margin-left: 0; } }

@media screen and (max-width: 800px) {
  .call {
    margin-right: 2vw; }
  .services,
  .connect {
    padding: 5vw; }
  .destin {
    margin: 5vw; }
  .connect {
    padding-top: 0; }
  .footer {
    justify-content: left;
    padding: 0; } }
