$primary: white !default;
$dark: #000435 !default;
$success: #fdf74b;

h1 {
    text-align: right;
    color: rgb(15, 15, 68);
    font-weight: bold;
}

$navbar-padding-x: 12pt;
$thumbnail-padding: 3pt;

$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;

$navbar-brand-padding-y: 0;
$navbar-brand-padding-y: 0;

$carousel-transition-duration: .4s !default;
$jumbotron-padding: 1rem;

$input-font-family: 'Playfair Display',
sans-serif;

html.no-js body nav.navbar.navbar-expand-lg.navbar-dark.bg-primary {
    height: 55px;
}

.d-block {
    height: 65vh;
    width: 100vw;
}

@import "node_modules/bootstrap/scss/bootstrap";